@model IEnumerable<prop360.web.Models.Property>
@{
    ViewBag.Title = "Home Page";
}
@*Zen Coding: .messages>(.message.row>(.col-md-10.title>lorem5)+(.col-md-2.date{April 18, 2014})+(.col-md-12.contents>lorem)+(.col-md-12.toolbar>button.btn.btn-primary.reply-button{Reply})+(.col-md-12.replies))*5*@

@*@foreach (var item in Model)
{
    <div>
        <h4>@item.Address1</h4>
        <div>@item.City, @item.State @item.Zip</div>
        <hr />
    </div>
}*@